<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <title>Welcome to TurboGears 2.3, standing on the shoulders of giants, since 2007</title>
</head>

<body>
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Welcome to TG Pluggable <br/> Example application</h1>
            <h2><a href="https://github.com/TurboGears/tgext.pluggable">tgext.pluggable Doc</a></h2>
        </div>
    </div>
</div>


</body>
</html>
